@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    button {
        @apply select-none focus:outline-none cursor-pointer;
    }
}

button * {
    @apply cursor-pointer;
}

.card-list {
    @apply fixed z-20 bottom-0 md:top-8 h-full left-0 w-full shadow-md md:rounded-md bg-white transform;
    transition: all 0.25s ease-in-out;
}
.card-list.shown {
    @apply translate-y-0 rounded-none;
}
.card-list.not-shown {
    @apply rounded-t-md;
    --tw-translate-y: calc(100% - 12rem);
}
.card-list.mobile.not-shown {
    --tw-translate-y: calc(100% - 10rem);
}

.map {
    @apply w-full z-0;
    height: calc(100vh - 2rem);
}
.map #openstreet {
    @apply w-full border-0;
    height: calc(100vh - 2rem);
}
